services:
  backend:
    build: 
      context: .
      dockerfile: Dockerfile.dev

    volumes:
      - ./src:/app/src:delegated
      - ./prisma:/app/prisma:delegated
      - ./package.json:/app/package.json:delegated
      - ./tsconfig.json:/app/tsconfig.json:delegated
      - ./scripts:/app/scripts:delegated
      - ./tsconfig.scripts.json:/app/tsconfig.scripts.json:delegated
      - ./nodemon.json:/app/nodemon.json:delegated
      - api_node_modules:/app/node_modules
      - api_dist:/app/dist
      - jwt_keys:/keys:ro  
      
    ports:
      - "8080:8080"

    env_file:
      - .env

    depends_on:
      redis:
        condition: service_healthy
      keygen:
        condition: service_completed_successfully

    command: >
      sh -c "
        npx prisma generate &&
        if [ \"$$RUN_SEEDS\" = \"true\" ]; then npm run seed:dev; fi &&
        npx nodemon
      "

    networks:
      - authura-network

    # healthcheck:
    #   test: ["CMD", "wget", "--spider", "http://localhost:4300/monitoring/health"]
    #   interval: 10s
    #   timeout: 5s
    #   retries: 3
    restart: unless-stopped

  keygen:
    image: alpine:3.19
    container_name: authura-jwt-keygen
    restart: "no" 
    volumes:
      - jwt_keys:/keys
    command: >
      sh -c "
        if [ ! -f /keys/private.pem ]; then
          apk add --no-cache openssl &&
          openssl genrsa -out /keys/private.pem 2048 &&
          openssl rsa -in /keys/private.pem -pubout -out /keys/public.pem &&
          chmod 644 /keys/private.pem &&  
          chmod 644 /keys/public.pem       
        fi
      "

  redis:
    image: redis:8.4.0
    command: >
      redis-server
      --requirepass ${REDIS_PASSWORD}
      --appendonly yes
      --appendfsync everysec
      --maxmemory 512mb
      --maxmemory-policy allkeys-lru
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - authura-network

volumes:
  redis-data:
    driver: local
  api_node_modules:
    driver: local
  api_dist:
    driver: local
  jwt_keys:

networks:
  authura-network:
    driver: bridge
