services:
  redis:
    image: redis:8.4
    container_name: redis
    command: >
      redis-server
      --requirepass ${REDIS_PASSWORD}
      --appendonly yes
      --appendfsync everysec
    env_file:
      - .env
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data: