<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="Authura - Modern OAuth 2.0 and OpenID Connect Identity Provider" />

<title><%= title ?? "Authura - Secure Authentication" %></title>

<!-- Stylesheet -->
<link rel="stylesheet" href="/css/output.css" />

<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
